.header__lang-link {
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
  display: grid;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .header__lang-link {
    font-size: calc(16px + (100vw - 320px) / (768 - 320) * (24 - 18));
  }
}

@media screen and (max-width: 320px) {
  .header__lang-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  }
}