.page {
  background-color: #2A2C2F;
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  height: 6875px;
  position: relative;
  margin: 0 auto;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.header {
  max-width: 1184px;
  min-height: 52px;
  padding: 28px 48px 56px 48px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  padding: 1.75rem 3rem 0;
}

.header__logo {
  width: 176px;
  height: 52px;
  left: 48px;
  top: 28px;
  background-image: url(../russian-travel/images/header-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
}

.header__links {
    list-style: none;
    margin: 0;
    grid-template-columns: repeat(2, min-content);
    display: flex;
    gap: 1.25rem;
    align-items: end;
    padding: 0 0 5;
}

.header__lang-link {
  width: 30px;
  height: 28px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
  display: grid;
}

.header__lang-link_active {
  position: relative;
}

.lead {
    max-width: 984px;
    margin: 3.5rem auto 0;
    padding: 0 3rem;
}

.lead__title {
  text-align: center;
  color: white;
  max-width: 720px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: calc(100 / 96);
  height: 200px;
  left: 280px;
  top: 136px;
  margin: 0 auto;
}

.lead__subtitle {
  color: white;
  text-align: center;
  max-width: 640px;
  height: 72px;
  left: 320px;
  top: 368px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 2rem auto 64px;
}

.lead__image {
  max-width: 984px;
  height: 615px;
  left: 148px;
  top: 504px;
  box-sizing: border-box;
  background-image: url(./images/lead-polka.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 148px;
  padding-right: 148px;
}

.lead__caption {
  color: white;
  margin: 8px 0 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro {
  max-width: 690px;
  height: 429px;
  margin: 5.75rem auto 0;
  padding: 0 3rem;
}

.intro__title {
  color: white;
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
}

.intro__text {
  color: white;
  max-width: 690px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 163%;
  margin: 2.5rem 0 0;
}

.intro__list {
  color: white;
  max-width: 690px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  margin: 2rem 0 0;
  padding: 0;
}

.intro__span-accent {
  font-weight: bold;
}

.photo-grid {
  max-width: 1184px;
  height: 671px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 1rem;
  margin: 5.75rem auto 0;
  padding: 0 3rem;
}

.photo-grid__item {
  max-width: 100%;
  object-fit: cover;
}

.places {
  max-width: 984px;
  height: 3392px;
  margin: 5.75rem auto 0;
  padding: 0 3rem;
}

.places__blocks {
  margin: 0;
  padding: 0;
  list-style: none;
}

.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
  gap: 3 rem 2.5rem;
  margin: 0 0 5rem;
}

.place:last-child {
  margin-bottom: 0;
}

.place__title {
  color: white;
  max-width: 460px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  margin: 0;
  padding: 0;
  padding-bottom: 48px;
}

.place__website {
  align-self: flex-end;
  padding-bottom: 48px;
  padding-left: 40px;
}

.place__url-heading {
  color: #AAAAAA;
  max-width: 456px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 0.75rem;
}

.place__link {
  color: white;
  max-width: 456px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  position: relative;
}

.place__image {
  max-width: 100%;
  object-fit: cover;
}

.place__paragraph {
  color: white;
  max-width: 484px;
  padding-left: 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0 0 1.625rem;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

.cover {
  max-width: 1184px;
  margin: 0 auto;
  padding: 2.75rem 0;
}

.cover__background {
  max-width: 100%;
  height: 740px;
  background-image: url(./images/cover-trains.jpg);
  background-position: center;
  background-size: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: center;
  background-repeat: no-repeat;
  justify-content: center;
  text-decoration: none;
}

.cover__background:after {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-color: #2A2C2F;
  transition: opacity 0.2s linear;
  content: '';
  position: absolute;
}

.cover__background:hover:after {
  opacity: 0.8;
}

.cover__title {
  color: white;
  max-width: 560px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

.cover__subtitle {
  color: white;
  max-width: 360px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  margin: 2rem auto 0;
  z-index: 2;
}

.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 3rem 1.5rem;
  flex-wrap: wrap;
}

.footer__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__link {
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-decoration: none;
  margin-right: 18px;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  color: white;
  max-width: 186px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  text-align: right;
}