.lead__title {
  text-align: center;
  color: white;
  max-width: 720px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  margin: 0 auto;
}

@media screen and (max-width:740px){
  .lead__title{
    width: 425px;
    font-size: 60px;
  }
}
@media screen and (max-width:520px){
  .lead__title{
    width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}