.footer__copyright {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  text-align: right;
  justify-self: flex-end;
}

.footer__copyright:hover {
  opacity: 0.8;
}

@media screen and (max-width:620px){
  .footer__copyright{
    justify-self: unset;
    margin: 16px 0 0;
    line-height: 1;
    
  }
}