.place__url-heading {
  color: #AAAAAA;
  max-width: 456px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 12px;
  
}

@media screen and (max-width: 425px) {
  .place__url-heading {
    margin: 0 16px 12px;
  }
}