.intro__title {
  color: white;
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:520px){
  .intro__title{
    font-size: 32px;
    line-height: 1.09;
  }
}